/* GENERAL BODY STYLES START */
body {
  font-family: Arial;
  font-size: 120%;
}

.body {
  background-color: #000000;
}
/* GENERAL BODY STYLES END */

/* HIGHSCORES LINK STYLES START */
.scores {
  position: absolute;
  top: 30px;
  left: 30px;
}

.scores a {
  color: #17a3b8;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.5s;
}

.scores a:hover {
  color: pink;
}
/* HIGHSCORES LINK STYLES END */

/* TIMER STYLES START */
.timer {
  color: red;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 30px;
  right: 30px;
}

.minus {
  color: red;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}
/* TIMER STYLES END */

/* STYLES FOR ALL SCREENS START */
.wrapper {
  margin: 110px auto 0 auto;
  max-width: 600px;
}

/* hides containers */
.hide {
  display: none;
}

/* shows containers  */
.start {
  text-align: center;
}

/* container styles */
.screen-start,
.screen-questions,
.screen-end {
  background-color: pink;
  box-shadow: 0px 0px 40px 5px pink;
}
/* STYLES FOR ALL SCREENS END */

/* END SCREEN STYLES START */
.screen-end h2, p, span {
  font-size: 25px;
}

.screen-end .dog-name {
  font-size: 20px;
}
/* END SCREEN STYLES END */

/* LOSE SCREEN STYLES START */
.screen-lose {
  color: white;
  background-color: rgb(250, 76, 76);
  box-shadow: 0 0 40px 5px red;
}
/* LOSE SCREEN STYLES END */

/* HIGHSCORES HTML STYLES START */
.hs-body {
  background-color: black;
}

.hs-body .wrapper {
  margin: 100px auto 0 auto;
  max-width: 450px;
}

.hs-body h1 {
  text-shadow: 3px 3px 15px hotpink;
  padding-bottom: 40px;
}

.hs-body ol {
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 0 20px 5px white;
  padding-left: 0px;
  margin-bottom: 50px;
  max-height: 400px;
  overflow: auto;
}

.hs-body li {
  list-style: decimal inside none;
  background-color:  #17a3b8;
  padding: 10px;
}

.hs-body li:nth-child(odd) {
  background-color: pink;
}

.hs-body button {
  box-shadow: 0 0 10px 5px hotpink;
}

/* NO SCORES DIV STYLES START */
.hs-body .scores-no {
  padding-bottom: 40px;
}
/* HIGHSCORES HTML STYLES END */